<div class="conatiner-cards-pf container-fluid">
  <div class="row row-cards-pf">
    <div class="col-md-12">
      <div class="card-pf card-pf-view">
        <div class="card-pf-body">
          <h2 class="card-pf-title text-center">
            Create a New Workspace
          </h2>
          <div class="card-pf-top-element">
            To create a new workspace and user, click <a href ng-click="launchWizard()"><i class="fa fa-plus-circle"></i> here</a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
