<div pf-wizard title="Create New Workspace"
  wizard-ready="deployProviderReady"
  on-finish="finishedWizard()"
  on-cancel="cancelDeploymentWizard()"
  next-title="nextButtonTitle"
  next-callback="nextCallback"
  back-callback="backCallback"
  wizard-done="deployComplete || deployInProgress"
  content-height="'600px'"
  loading-secondary-information="secondaryLoadInformation">
    <div pf-wizard-step step-title="Create User" substeps="false" step-id="createUser" step-priority="0" show-review="false" show-review-details="false">
      <form class="form-horizontal">
        <div pf-form-group pf-label="Username" required>
         <input id="new-name" name="name" ng-model="data.name" type="text" ng-change="updateName()" required/>
        </div>
        <div pf-form-group pf-label="Password" required>
         <input id="new-password" name="password" ng-model="data.password" type="password" ng-change="updateName()" required/>
        </div>
      </form>
    </div>
    <div pf-wizard-step step-title="Base Project" substeps="false" step-id="baseProject" step-priority="1" show-review="true" review-template="review-second-template.html" >
      <form class="form-horizontal">
        <div pf-form-group pf-label="Initial Project Name">
          <input id="new-project" name="project" ng-model="data.project" type="text"/>
        </div>
      </form>
    </div>
    <div pf-wizard-step step-title="Review" substeps="true" step-id="review" step-priority="2">
      <div ng-include="'summary.html'"></div>
      <div ng-include="'deployment.html'"></div>
    </div>
 </div>
